<p id="notice"><%= notice %></p>

<p>
  <font size="4"><strong>期日:</strong>
  <%= @task.due_date %></font>
</p>

<p>
  <font size="4"><strong>カテゴリー:</strong>
  <%= @task.category.categoryname %></font>
</p>

<p>
  <font size="4"><strong>名前:</strong>
  <%= @task.name %></font>
</p>

<p>
  <font size="4"><strong>完了:</strong>
  <%= @task.done %></font>
</p>

<p>
  <font size="4"><strong>ユーザー:</strong>
  <%= @task.user.username %></font>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>
