<p id="notice"><%= notice %></p>

<p>
  <font size="4"><strong>ユーザーID:</strong>
  <%= @user.userid %>
</p>

<p>
  <font size="4"><strong>ユーザー名:</strong>
  <%= @user.username %>
</p>

<p>
  <font size="4"><strong>パスワード:</strong>
  <%= @user.password %>
</p>

<font size="5"><%= link_to '編集', edit_user_path(@user) %> |
<font size="5"><%= link_to '戻る', users_path %>
