<p id="notice"><%= notice %></p>

<h1>カテゴリー一覧</h1>

<table>
  <thead>
    <tr>
      <font size="4"><th>カテゴリー名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><font size="4"><%= category.categoryname %></td>
        <td><font size="4"><%= link_to '詳細', category %></td>
        <td><font size="4"><%= link_to '編集', edit_category_path(category) %></td>
        <td><font size="4"><%= link_to '削除', category, method: :delete, data: { confirm: '削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<font size="5"><%= link_to 'カテゴリー新規作成', new_category_path %>
