<!DOCTYPE html>
<html>
<head>
  <title>ToDoList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= image_tag 'kannri.jpg' %>
<body>
<ul>
<li style="display: inline-block"><font size="4"><%= link_to "タスク一覧",tasks_path %> |</li>
<li style="display: inline-block"><font size="4"><%= link_to "タスク登録",new_task_path %> |</li>
<li style="display: inline-block"><font size="4"><%= link_to "ユーザー一覧",users_path %> |</li>
<li style="display: inline-block"><font size="4"><%= link_to "カテゴリー一覧",categories_path %> |</li>
<%= yield %>
</ul>
</body>
</html>
